.navbar-nav{
    /* padding-left: 800px; */
    /* padding-right: 0; */
    padding-right: 20px;
}
.form-control{
    background-color: rgb(211, 209, 209);
}

.navbar-expand-lg .navbar-collapse {
   
    justify-content: flex-end;
}


.card-body{
    margin: 20px;
    padding: 20px;
}

.card{
    margin: auto;
    max-width: 90%;
}

div.card{
    background-color: #417e792e;
}




.img{
    
    margin: 10px;
    position: flex;
    justify-content: space-between;
    align-items: space-between;
    
}


div.card-body{
    padding: 0;
    
}

